@{
    ViewBag.Title = "Detalii indicatori";
}
<h2>@ViewBag.Title  </h2>
@*<h3>@ViewBag.Message</h3>*@
<br />

<p>
    Obiectivul situatiilor financiare anuale il constituie furnizarea de informatii despre pozitia financiara, performanta financiara  si fluxurile de trezorerie ale unei entitati, utile unei categorii largi de utilizatori.
<p>
    <br />

<p>
    Pe baza informatiilor din situatiile financiare, societatea determina o serie de indicatori grupati astfel:
<p>
    <br />

<b>I. Indicatori de activitate (de gestiune) </b>


<p>
    Indicatorii de activitate furnizeaza informatii cu privire la:
<p>
<p>
    · viteza de intrare sau de iesire a fluxurilor de trezorerie ale entitatii;
<p>
<p>
    · capacitatea entitatii de a controla capitalul circulant si activitatilor comerciale de baza ale entitatii.
<p>
    <br />

<p>Viteza de rotatie a stocurilor :<u> cost vanzari/stoc mediu</u>;</p>

<p>
    Indicatorul arata de cate ori stocul a fost rulat de-a lungul exercitiului financiar.
</p>
