@{
    ViewBag.Title = "Detalii indicatori";
}
<h2>@ViewBag.Title  </h2>
@*<h3>@ViewBag.Message</h3>*@
<br />

<p>
    Obiectivul situatiilor financiare anuale il constituie furnizarea de informatii despre pozitia financiara, performanta financiara  si fluxurile de trezorerie ale unei entitati, utile unei categorii largi de utilizatori.
<p>

<p>
    Pe baza informatiilor din situatiile financiare, societatea determina o serie de indicatori grupati astfel:
<p>
<p>

</p>

<b>I. Indicatori de activitate (de gestiune) </b>
<p></p>
<p>
    Indicatorii de activitate furnizeaza informatii cu privire la:
<p>
<p>
    · viteza de intrare sau de iesire a fluxurilor de trezorerie ale entitatii;
<p>
<p>
    · capacitatea entitatii de a controla capitalul circulant si activitatilor comerciale de baza ale entitatii.
<p>


    <b><i><u>1. Viteza de rotatie a stocurilor = cost vanzari / stoc mediu. </u> </i></b>

<p>
    Indicatorul arata de cate ori stocul a fost rulat de-a lungul exercitiului financiar.
</p>
<p></p>
<b><i><u>2. Numarul de zile de stocare = valoare stoc mediu x 365 / costul vanzarilor. </u></i></b>
<p></p>
<p>
    Indicatorul indica numarul de zile in care bunurile sunt stocate in unitate. Cu cat numarul de zile este mai mic, cu atat situatia este mai buna, in sensul ca stocurile sunt utilizate in procesul de productie, aprovizionarile cu stocuri sunt ritmice si nu exista riscul de a inregistra stocuri cu miscare lenta sau greu vandabile.
<p>
<p></p>
<b><i><u>3. Viteza de rotatie a debitelor-clienti = sold mediu clienti x 365 / cifra de afaceri. </u></i></b>
<p></p>
<p>
    Cand valoarea indicatorului este mare, rezulta ca in unitate sunt probleme legate de controlul creditului acordat clientilor si in consecinta creantele sunt mai greu de incasat (clienti rai platnici). Entitatea trebuie sa ia masurile care se impun pentru urgentarea incasarii acestora.
<p>
<p></p>
<b><i><u>4. Viteza de rotatie a creditelor-furnizori = sold mediu furnizori x 365 / cifra de afaceri. </u></i></b>
<p></p>
<p>
    Indicatorul exprima numarul de zile de creditare pe care entitatea il obtine de la furnizorii sai.
<p>
<p></p>
<b><i><u>5. Viteza de rotatie a activelor imobilizate = cifra de afaceri / active imobilizate. </u></i></b>
<p></p>
<p>
    Indicatorul exprima numarul de rotatii efectuate de activele imobilizate pentru realizarea cifrei de afaceri. De asemenea, se evalueaza eficienta managementului activelor imobilizate prin examinarea valorii cifrei de afaceri generate prin exploatarea acestora.
<p>
<p></p>
<b><i><u>6. Viteza de rotatie a activelor totale = cifra de afaceri / total active. </u></i></b>
<p></p>
<p>
    Indicatorul evalueaza eficienta managementului activelor totale prin examinarea valorii cifrei de afaceri generate de activele entitatii.
<p>

    <b>II. Indicatori de lichiditate </b>
<p>

<p>

<p>
    Indicatorii din aceasta grupa arata capacitatea activelor din cadrul entitatii de a se transforma in bani, fara riscuri.
<p>

<p>
    <b><i><u>1. Lichiditate curenta = active curente / datorii curente. </u> </i> </b>
<p>
<p>
    Indicatorul arata suma cu care activele circulante depasesc datoriile pe termen scut si ofera garantia acoperirii datoriilor curente din activele curente. Valoarea recomandata si acceptabila este in jur de 2. Deci, cu cat valoarea acestuia este mai mare, cu atat situatia entitatii este mai buna.
<p>
<p>
    <b> <u><i>2. Lichiditate imediata = active curente - stocuri / datorii curente (test acid). </i> </u> </b>
<p>
<p>
    Acest indicator elimina stocurile, deoarece nu se pot transforma imediat in disponibilitati, exprimand capacitatea entitatii de a plati datoriile. Valoarea recomandata este in jur de 1. Cu cat "testul acid" este mai mare decat 1, cu atat situatia entitatii este mai buna.
<p>
<p></p>
<b>III. Indicatori de risc</b>
<p></p>
<p>
    <b><i><u>1. Gradul de indatorare = capital imprumutat x 100 / capital angajat. </u></i></b>
<p>
<p>
    Capital imprumutat = credite peste 1 an.
<p>
    Capital angajat = capital social + rezerve + credite peste 1 an.
<p>
    Indicatorul arata cat la suta din capitalurile proprii reprezinta creditele peste 1 an si posibilitatea acoperirii acestora din rezerve si capitalul social.
<p>
<p>
    Riscul nu trebuie sa se ridice la mai mult de 30%.
</p>
<p>
    <b><i><u>2. Indicatorul privind acoperirea dobanzilor = profitul inaintea platii dobanzii si a impozitului pe profit / cheltuiala cu dobanda. </u></i></b>
<p>
<p>
    Acest indicator determina de cate ori entitatea achita cheltuielile cu dobanda. Cu cat valoarea acestuia este mai mica, cu atat pozitia entitatii este mai riscanta.
<p>
<p></p>
<b>IV. Indicatori de profitabilitate</b>
<p></p>
<p>
    Indicatorii din aceasta grupa exprima eficienta entitatii in realizarea de profit din resursele disponibile.
<p>
<p>
    <b><i><u>1. Rentabilitatea capitalului angajat = profit inaintea platii dobanzii si a impozitului pe profit / capital angajat. </u></i></b>
<p>
<p>
    Indicatorul reprezinta profitul pe care il obtine entitatea din banii investiti in afacere.
<p>
<p>
    <b><i><u>2. Marja bruta din vanzari = profit brut din vanzari x 100 / cifra de afaceri. </u></i></b>
<p>
<p>
    O scadere a procentului poate scoate in evidenta faptul ca entitatea nu este capabila sa isi controleze costurile de productie sau sa obtina un pret optim de vanzare.
<p>
<p>
    <b><i><u>3. Profitabilitate = profit din exploatare / capital angajat. </u></i></b>
<p>
<p>
    Atunci cand profitabilitatea este mai mica decat rata dobanzii de baza pe termen lung, conducerea entitatii ar trebui sa analizeze situatia in sensul orientarii activelor intr-o alta directie de utilizare sau chiar sa procedeze la lichidarea unitatii sau alta procedura de reorganizare, in cazul in care profitabilitatea nu poate fi imbunatatita.
</p>
<p>
    <b><i><u> Solvabilitatea pe termen lung. </u></i></b>
<p>
<p>
    Pe baza indicatorilor din aceasta grupa, se stabileste capacitatea entitatii de a face fata datoriilor pe termen lung.
</p>
<p>
    <b><i><u>1. Raportul datorii la capital propriu = total datorii / capital propriu. </u></i></b>
<p>
<p>
    Daca acest indicator este prea ridicat, acest lucru ar putea semnaliza ca entitatea si-a consumat intreaga capacitate de indatorare si nu dispune de o marja de manevra in cazul unor evenimente viitoare nefavorabile.
<p>
<p>
    Daca tendinta de evolutie a indicatorului este ascendenta, aceasta ar putea insemna ca profiturile sunt prea scazute pentru a putea acoperi nevoile entitatii.
<p>
<p>
    Daca evolutia este descendenta, atunci s-ar putea ca entitatea sa se afle intr-o situatie favorabila si sa fie in masura sa pregateasca terenul pentru o viitoare expansiune.
<p>
<p>
    <b><i><u>2. Raportul Imobilizari corporale nete la capital propriu = capital propriu - imobilizari necorporale / capital propriu. </u></i></b>
<p>
<p>
    Acest indicator da informatii cu privire la calitatea curenta a capitalului propriu, deoarece sunt eliminate active necorporale, precum fondul comercial, a carui materializare depinde in totalitate de activitatile viitoare.
<p>

<p>
    <b><i><u>3. Gradul de acoperire al dobanzilor = profit din exploatare / cheltuieli privind dobanzile.</u></i></b>
<p>
<p>
    Indicatorul exprima capacitatea entitatii de a face fata obligatiilor de plata a dobanzilor, care este mai curand o functie a capacitatii acesteia de a genera un flux de trezorerie pozitiv din activitatea de exploatare, atat pe termen scurt, cat si in perspectiva. Astfel, gradul de acoperire a dobanzilor arata cat de stabila este capacitatea entitatii de a-si onora obligatiile de plata privind dobanzile.
</p>
<p>
    <b> Acestia sunt principalii indicatori pe care o entitate ar trebui sa-i calculeze in momentul in care se face analiza patrimoniala pe baza situatiilor financiare. Interpretarea acestor indicatori scoate in evidenta riscul de insolvabilitate a entitatii. Aceasta consta in incapacitatea entitatii de a-si onora angajamentele asumate fata de terti.</b>
<p>