@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title : </h2>
@*<h3>@ViewBag.Message</h3>*@
<br/>
<address>
    <b> Carmen Cenan</b><br />
    Cluj-Napoca, Cluj, Romania<br />
    <b>Telefon</b>:
    0040 758 511 060
</address>

<address>
    <strong>Suport:</strong>   <a href="mailto:carmencenan@gmail.com">carmencenan@gmail.com</a><br />
   
</address>