@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title : </h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Carmen Cenan<br />
    Cluj-Napoca, Cluj, Romania<br />
    <abbr title="Telefon">Telefon:</abbr>
    0040 758 511 060
</address>

<address>
    <strong>Suport:</strong>   <a href="mailto:carmencenan@gmail.com">carmencenan@gmail.com</a><br />
   
</address>