@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Indicatori de profitabilitate</h1>
    <p class="lead">Indicatori de profitabilitate este o aplicatie gratuita care te ajuta sa calculezi rapid cei mai importanti indicatori economico-financiari ai viitorilor sau actualilor parteneri de afaceri.
    <p>
    Cunoasterea nivelului indicatorilor economico-financiari permite efectuarea de comparatii cu alte entitati din sectoare de activitate similare, autohtone sau internationale.
    </p>
  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Grupe de indicatori  </h2>
        
    </div>      
    <div class="col-md-4">
        <h2> </h2>
        <p>Indicatori de risc</p>
        <p>Indicatori de lichiditate.</p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p>Indicatori de activitate (gestiune).</p>
        <p>Indicatori de profitabilitate si solvabilitate.</p>
     </div>
</div>